1. Explain hadoop in layman's term
hadoop has storage and processing. Processing has mapreduce which is made up of Pig and Hive
2. Explain the components of Hadoop framework

3. Explain the reasons to learn Big data technologies
