1. Hadoop has storage and processing. Processing has mapreduce which is made up of Pig and Hive
2. Name node, Data Node, Job Tracker, Task Tracker, Node Manager
3. Business reasons and Personal reasons
